@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
    font-family: 'Kaushan Script';
    src: url('../fonts/KaushanScript-Regular.eot');
    src: url('../fonts/KaushanScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KaushanScript-Regular.woff2') format('woff2'),
        url('../fonts/KaushanScript-Regular.woff') format('woff'),
        url('../fonts/KaushanScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


