#work {
    padding-top: 90px;
    .work-wrapper {
        margin: 0 auto;
        text-align: center;
        .work-title {
            font-family: "Kaushan Script";
            font-size: 24px;
            margin-bottom: 24px;
        }
        h1 {
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 30px;
            text-transform: uppercase;
            color: #000;
        }
        .divider {
            width: 60px;
            height: 3px;
            background-color: #f38181;
            margin: 41px auto 47px;
        }
        .work-p {
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            color: #999999;
            margin-bottom: 105px;
            line-height: 1.6;
        }
    }
    .work-image {
        height: 100%;
        position: relative;
        transition: all 0.2s linear;
        display: flex;
        justify-content: center;
        &:hover {
            .gradient-hover {
                visibility: visible;
                transition: all 0.2s linear;
            }
        }
        .gradient-hover {
            transition: all 0.2s linear;
            position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            visibility: hidden;
            top: 0;
            left: 0;
            opacity: 0.9;
            height: 100%;
            width: 100%;
            background: #f38181;
            background: -webkit-linear-gradient(top, #f38181, #fce38b);
            background: -moz-linear-gradient(top, #f38181, #fce38b);
            background: linear-gradient(to bottom, #f38181, #fce38b);
            .gradient-hover-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                i,
                p {
                    font-size: 18px;
                    color: #fff;
                }
                p {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin-top: 14px;
                }
                span {
                    font-family: "Roboto", sans-serif;
            font-size: 15px;
            color: #fff;
            font-style: italic;
            font-weight: 300;
                }
            }
        }
        @media only screen and (max-width: 991px) {
            height: unset;
        }
        img {
            width: 100%;
        }
    }
}
