$color01: #ffffff;
$color02: #fce38b;
$color03: #f38181;
$color04: #95e1d3;
$color05: #000000;
$color06: #999999;
$color07: #333333;
$color08: #f8f8f8;
$color09: #e5e5e5;
$color10: #cccccc;
